<form method="POST" action="/admin/upload" enctype="multipart/form-data">
      <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" name="sampleFile" accept="image/*"/>
        </div>
        <button type="submit">Upload Image</button>
</form>